# dependencies
node_modules/
.pnp
.pnp.*
.yarn/

# testing
coverage/

# production builds
build/
out/
.next/

# flutter / dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# misc
.DS_Store
Thumbs.db
*.pem
.env
.env*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel